# SPDX-License-Identifier: GPL-2.0-only

config NORTHBRIDGE_INTEL_X58
	bool
	select CPU_INTEL_MODEL_206CX
	select HAVE_DEBUG_RAM_SETUP
	select HAVE_X86_64_SUPPORT
	select DRAM_SUPPORT_DDR3
	select NEED_SMALL_2MB_PAGE_TABLES
	select SMM_TSEG
	select BOOT_DEVICE_SPI_FLASH_NO_EARLY_WRITES

if NORTHBRIDGE_INTEL_X58

config ECAM_MMCONF_BASE_ADDRESS
	default 0xe0000000

config ECAM_MMCONF_BUS_NUMBER
	int
	default 256

config DOMAIN_RESOURCE_32BIT_LIMIT
	default 0xfec00000


config DCACHE_RAM_BASE
	hex
	default 0xfefc0000

config DCACHE_RAM_SIZE
	hex
	default 0x10000

config DCACHE_BSP_STACK_SIZE
	hex
	default 0x2000
	help
	  Initial CAR stack size for X58/Westmere-EP bring-up.

endif
